
@model WebApplication4.Models.UserModel

@{
    Layout = null;
}



<body>
    <link href="https://fonts.cdnfonts.com/css/circular-std" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div id="logo">
        <a href="/User/HomePage"><img src="https://i.ibb.co/TvLjbq4/Playback-logos-transparent.png"></a>
    </div>

    <div id="signup-container">

        <h3>Sign Up</h3>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



            @Html.Label("name", "Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                <br />
            </div>

            @Html.Label("username", "Username", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                <br />
            </div>

            @Html.Label("email", "Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                <br />
            </div>

            @Html.Label("password", "Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                <br />
            </div>

            <div class="col-md-10">
                <br />
                <input type="submit" value="Sign Up" class="btn btn-default" />
                @Html.Raw(@ViewBag.ErrorContent)
            </div>


            <div class="col-md-10">
                @Html.ActionLink("Already have an account? Log in here", "Login")
            </div>

        }

    </div>
</body>

<style>
    @@font-face {
        font-family: myFont;
        src: url(/Content/Fonts/webfontkit-20230222-113905/circularstd-medium-webfont.woff)
    }

    #password {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        color: black;
    }


    label, h4, div, #login {
        color: white;
    }

    body {
        background-color: #14181C;
        font-family: 'Circular Std', sans-serif;
        font-weight: bold;
    }

        div.navbar-collapse collapse {
            color: #000000;
        }

    input.btn {
        background-color: #d89898;
        border-color: #d89898;
    }

    

    .form-group {
        transform: translate(250px, 300px);
    }

    h4 {
        transform: translate(550px, 250px);
    }

    #error {
        transform: translate(500px, 300px);
    }

    #login {
        transform: translate(450px, 300px);
    }

    .col-md-10 {
        width: 30em;
    }


    #signup-container {
        border: 5px solid black;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%);
        width: 30%;
        height: 55%;
        padding-top: 20px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
    }

   

    .col-md-10 {
        width: 100%;
        text-align: center;
    }

    

    h3 {
        text-align: center;
    }

    .btn btn-default {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    img {
        float: left;
        width: 200px;
        height: 200px;
    }

    @@media screen and (max-width: 1000px) {

        #signup-container {
            width: 60%;
            height: 40%;
        }
    }

    @@media screen and (max-width: 600px) {

        #signup-container {
            width: 100%;
            height: 100%;
            padding-top: 55%;
        }

        #logo {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    @@media screen and (orientation:landscape) and (max-width: 900px) {
        #signup-container {
            width: 100%;
            height: 100%;
            padding-top: 20%;
        }

        #logo {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
</style>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}



