@model WebApplication4.Models.BigModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Fonts/webfontkit-20230222-113905/stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Playback</title>

</head>
<body>

    <nav class="navbar-fixed-top">
        <div class="nav">
            <div class="container" id="container">

                <div class="logo"><a href='@Url.Action("User", "HomePage")'>Playback</a></div>
                <div id="click-btn"></div>
                <div id="list"></div>
                <div id="main" class="main">
                    <ul class="nav-link">
                        <li><a href="#">@Html.DisplayFor(o => o.UserModel.username)</a></li>

                        <li>
                            <input type="search" id="search" name="q">
                            <button class="btn btn-outline-success my-2 my-sm-0" onclick="searchValue()">Search</button>
                        </li>

                    </ul>

                </div>
            </div>


    </nav>
    <div id="img-container"></div>
    </div>
    <div class="text">
        <h3>Rate and Review the Music you love</h3>
        <button id="buttonSignUp">SIGN UP NOW</button>
    </div>
    <div id="background">

    </div>
    <div id="songs">
        <h4>Top Songs this Week</h4>
        <br />
        <div id="containSongs">

        </div>
        <div>
            hello
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()


    </div>



    @RenderSection("scripts", required: false)
    <style>
        label, h4 {
            color: white;
        }

        div.navbar-collapse collapse {
            color: #000000;
        }

        input.btn {
            background-color: #d89898;
            border-color: #d89898;
        }

        body {
            background-color: #14181C;
            font-family: 'circular_stdmedium';
        }

        a {
            color: white;
            text-decoration: none;
        }

        #head {
            float: left;
        }

        .nav {
            width: 100%;
            height: 50px;
            position: fixed;
            line-height: 65px;
            text-align: center;
        }

            .nav div.logo {
                float: left;
                width: auto;
                height: auto;
                padding-left: 3rem;
            }

                .nav div.logo a {
                    text-decoration: none;
                    color: white;
                    font-size: 2rem;
                    position: relative;
                    bottom: 20px;
                }

            .nav div.main {
                height: 50px;
                float: right;
            }



                .nav div.main ul {
                    width: 100%;
                    height: 50px;
                    display: flex;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    position: relative;
                    bottom: 20px;
                }

                    .nav div.main ul li {
                        width: auto;
                        height: 50px;
                        padding: 0;
                        padding-right: 3rem;
                    }

                        .nav div.main ul li a {
                            text-decoration: none;
                            color: #fff;
                            line-height: 65px;
                            font-size: 2rem;
                        }

        .nav {
            padding-top: 20px;
            padding-bottom: 20px;
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }

        .nav-active {
            background: black;
            height: 60px;
            border-radius: 5px;
        }

        #button {
            background-color: #1e163a;
            -webkit-text-fill-color: white;
            border: none;
            position: absolute;
            padding-top: 0;
            margin: 0;
            height: 10px;
        }

        .nav-link {
            list-style-type: none;
            width: 200px;
            padding-left: 0;
            border-radius: 10px;
            position: fixed;
            height: 250px;
            z-index: 9998 !important;
        }

        #list {
            position: absolute;
            top: 58px;
            height: 300px;
            left: 2%;
            z-index: 9998 !important;
        }

        hr {
            width: 96%;
            color: #FFFF00;
            padding: 0px;
            margin: 0px;
        }


        #containSongs {
            height: 300px;
            background-attachment: scroll;
        }


        #background {
            background: url("https://media.pitchfork.com/photos/5e17c6a4516bdd0008561c76/2:1/w_2776,h_1388,c_limit/beatles-abbey-road.jpg");
            background-repeat: no-repeat;
            background-size: 100vw;
            background-position-x: 100vw;
            background-position-y: 100px;
            box-shadow: inset -150px 80px 80px 0 #14181C,inset 10px 80px 80px 0 #14181C, 0 80px 80px 80px #14181C;
            background-attachment: local;
        }
    </style>
    <script>
        const navbar = document.querySelector('.nav');

        window.onscroll = () => {
            if (window.scrollY > 100) {
                navbar.classList.add('nav-active')
            } else {
                navbar.classList.remove('nav-active')
            }

        }

        function myFunction(x) {
            if (x.matches) { // If media query matches
                document.getElementById("main").style.display = "none";
                document.getElementById("click-btn").style.display = "block";
                var button = document.createElement("button");
                button.innerHTML = '&#9661';
                button.setAttribute("id", "button")
                document.getElementById("click-btn").appendChild(button)
                button.style.position = "absolute";
                button.style.left = "17%";
                button.style.height = "0px";
                button.style.width = "0px";

                button.style.display = "block";
                $('body').on('click touchstart', '#button', function (event) {
                    event.stopPropagation();

                    $("#list").empty().append('<ul class="nav-link" style="background-color: black;position: absolute;z-index: 99999999;"><li style="padding: 0;"> <a href="#">HomePage</a></li ><li><a href="#">Sign Up</a></li><li><a href="#">Search</a></li><li><a href="#">Profile</a></li></ul> ').toggle();
                });
            } else {
                document.getElementById("main").style.display = "block";
                document.getElementById("click-btn").style.display = "none";



            }
        }

        var x = window.matchMedia("(@@media only screen and (max-width: 700px))")
        myFunction(x) // Call listener function at run time
        x.addListener(myFunction) // Attach listener function on state changes


        function searchValue() {
            var input = document.getElementById("search").value;
            console.log(input)
            localStorage.setItem("input", input);
            window.location.href = '@Url.Action("Search", "User")';

        }
    </script>
</body>
</html>
